// Custom
@font-face {
  font-family: PassionsConflict-Regular;
  src: url("./fonts/PassionsConflict-Regular.ttf") format('truetype');
}

.passion {
  font-family: PassionsConflict-Regular, sans-serif;
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-VariableFont_wght.ttf") format('truetype');
}

.montserrat {
  font-family: Montserrat, sans-serif;
}

$custom-green: #173F35;
$custom-gold: #b89900;

// Global
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

// Navbar
.navbar {
  background-color: $custom-green;
  z-index: 99;

  .r-margin {
    margin-right: 18px;
  }

  .main-brand, .main-brand:visited {
    margin: 0 80px 0 80px;
    font-size: 60px;
    color: white;

    .main-span {
      color: $custom-gold;
    }
  }
}

// Must be separated
.nav-link {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: #b89900;

}

//Header
.header-container {
  color: white;
  display: flex;
  justify-content: center;
  height: 60vh;


  .header-image {
    background-image: url("./images/header-image-1.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
    position: absolute;
    opacity: 0.7;
    z-index: -1;
  }

  .text {
    text-align: center;
    margin-top: 30px;

    h5 {
      margin-top: 60px;
    }

  }
}

//About us
.about-container {
  justify-content: center;
  padding-top: 40px;

  h2 {
    font-size: 80px;
    color: $custom-green;
  }

  h1 {
    font-size: 100px;

  }
}

.col {
  padding: 0;
}

.photo-row {
  margin: 0 60px 0 60px;
  background-color: #f4fdfa;

  .about-text-1 {
    margin-top: 40px;
    padding: 0 30px 0 60px;
    text-align: right;

    p {
      margin-top: 40px;
    }
  }

  .about-text-2 {
    margin-top: 40px;
    padding: 0 60px 0 30px;
    text-align: left;

    p {
      margin-top: 40px;
    }
  }

  .photo {
    padding: 0;

    img {
      width: 100%;
    }
  }
}

.title {
  text-align: center;
  color: $custom-gold;
  bottom: 0;
  margin-bottom: 50px;
}

//Timeline
.timeline {
  padding-top: 40px;
  position: relative;
  margin: 0 auto;

  h1 {
    font-size: 100px;
  }

  .center {
    margin-left: 55px;
    margin-right: 55px;
  }

  .content {
    border-radius: 8px;
    background-color: #f4fdfa;

    h2 {
      font-size: 60px;
    }

    .space {
      margin: 0 30px 0 30px;
      color: $custom-green;
    }
  }
}

.event-row {
  padding-bottom: 20px;
}

.left {
  text-align: right;
  margin-right: 60px;
}

.right {
  text-align: left;
  margin-left: 60px;
}

.cake {
  text-align: center;

  img {
    height: 200px;
    width: 200px;
    margin: 0 50px 0 50px;
  }
}

//Vertical ruler
.ruler::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: $custom-gold;
  top: 185px;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Places the ruler to the left */
  .ruler::after {
    left: 31px;
  }

}

// Ceremony

.ceremony {
  padding-top: 40px;
  color: $custom-green;

  .title {

    h1 {
      font-size: 100px;
    }
  }

  .ceremony-row {
    padding-bottom: 20px;
  }

  .ceremony-text {
    padding-left: 50px;
    margin-top: 10px;

    h5 {
      margin-bottom: 20px;
    }
  }

  .ceremony-text-2 {
    padding-left: 50px;
    margin-top: 30px;
  }

  .small-title {
    font-size: 80px;
    text-align: center;
  }


  .iframe {
    text-align: center;
  }
}

// Gallery
.gallery {
  padding-top: 40px;
  color: $custom-green;

  .title {

    h1 {
      font-size: 100px;
    }
  }
}

// RSVP

.rsvp {
  padding: 40px 100px 40px 100px;
  color: $custom-green;

  .title {

    h1 {
      font-size: 100px;
    }
  }

  .sub-title {
    text-align: center;
  }

  .rsvp-form {
    padding: 20px 50px 20px 80px;
    background-color: #d8fcf1;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
    margin: 0 80px 0 80px;

    .row {
      margin-left: 10%;
    }

    .input-form {
      width: 300px;
      padding-bottom: 20px;
    }

    .food {
      margin-top: 50px;
    }

    textarea {
      height: 100px;
      margin-top: 10px;
    }

  }
}

// Button
.button {
  background-color: $custom-gold;
}
.button:hover {
  background-color: $custom-gold;
}


.btn-center {
  text-align: center;
  margin-right: 120px;
}

//Footer
.footer {
  background-color: $custom-green;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  color: white;

  h1 {
    font-size: 60px;
  }
}